.wrapIcon {
    position: relative;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    padding: 4px 8px;
    font-size: 12px;
    line-height: 1.4;
    color: var(--text-primary);
    background: var(--bg-secondary);
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity .18s ease;
    z-index: 2000;
    box-shadow: var(--boxshaw2);

}

/* Hiển thị khi hover hoặc focus */
.wrapIcon:hover .tooltip,
.wrapIcon:focus-within .tooltip {
    opacity: 1;
    visibility: visible;
}

/* Mũi tên (arrow) */
.tooltip::after {
    content: "";
    position: absolute;
    border: 6px solid transparent;
}

/* --- TOP --- */
.top {
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, -8px);
}

.top::after {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-top-color: var(--bg-secondary);
}

/* --- BOTTOM --- */
.bottom {
    top: 100%;
    left: 50%;
    transform: translate(-50%, 8px);
}

.bottom::after {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
    border-top-color: var(--bg-secondary);

}

/* --- LEFT --- */
.left {
    right: 100%;
    top: 50%;
    transform: translate(-8px, -50%);
}

.left::after {
    right: -6px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    border-top-color: var(--bg-secondary);
}

/* --- RIGHT --- */
.right {
    left: 100%;
    top: 50%;
    transform: translate(8px, -50%);
}

.right::after {
    left: -6px;
    top: 50%;
    transform: translateY(-50%) rotate(-90deg);
    border-top-color: var(--bg-secondary);
}