.layout {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
}

.main {
    margin-left: 100px;
    width: calc(100% - 132px);
    height: calc(100% - 32px);
    background-color: var(--bg-primary);
    padding: 16px;
    overflow: hidden;
    overflow-y: scroll;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100px;
    border-right: thin solid var(--border-color);
    background-color: var(--bg-primary);
    z-index: 99;
}

