/* app/dev/dev.module.css */
.container {
  width: 100%;
  height: calc(100vh - 60px);
  overflow: hidden;
}

.iframe {
  width: 100%;
  height: calc(100% - 30px); /* Giảm chiều cao iframe để chừa chỗ cho link */
  border: none;
}

.link {
  display: block;
  text-align: center;
  padding: 5px 0;
  color: #007bff; /* Màu link, có thể tùy chỉnh */
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
